.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}

.logsColumn {
  flex: 50%;
  padding: 10px;
  overflow: scroll;
  overflow-y: scroll;
  border-left: 3px solid #333;
}

.layoutDiv {
  border-style: solid;
  border-color: #333;
}

.scrollable {
  max-height: 700px;
  overflow: scroll;
  overflow-y: scroll;
}

.alignRightLink {
  color: blue;
  cursor: pointer;
  text-align: right;
}

.tcell {
  padding: 5px;
}
