.flexrow {
  display: flex;
}

.flexcolumn {
  flex: 50%;
  padding: 10px;
}

.logsColumn {
  flex: 50%;
  padding: 10px;
  overflow: scroll;
  overflow-y: scroll;
  border-left: 3px solid #333;
}

._layoutDiv {
  border-style: solid;
  border-color: #333;
  margin-left: 25%;
}

.scrollable {
  max-height: 600px;
  overflow: scroll;
  overflow-y: scroll;
}

.alignRightLink {
  color: blue;
  cursor: pointer;
  text-align: right;
}
